@import "tailwindcss";

@theme {
  --font-oswald: var(--font-oswald);
  --font-oooh-baby: "Oooh Baby", cursive;
}

:root {
  --background: #000000;
}

body {
  background: var(--background);
  overscroll-behavior: none;
}
